* {
    border: 1px solid white;
}

body {
    background: darkslategrey;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    height: inherit;
    width: 100%;
    position: relative;
}

div.dots-inactive {
    background: radial-gradient(
        white 1px, 
        transparent 1px
    ) 0 0 / 25px 25px;

}